@import '../../../assets/css/config.scss';

$edge-range: 20px;

.container { 
  display: flex;
  justify-content: space-between;

  .logo-wrapper {
    display: block;
    height: 43px;
    margin-left: $edge-range;

    img {
      height: 100%;
    }
  }

  .menu {
    display: flex;
    height: 100%;
    justify-content: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-size: 12pt;
      margin: 0 10px;
      color: #929292;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .no-user {
    display: flex;
    justify-content: center;
  }

  .user {

  }
}