.hint{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: rgba(76, 76, 76, 0.6);
}
.bar{
    width: 30%;
}

.inputElement{
    width: 30%;
}