.container{
    padding: 0px 40px;
    display: flex;
    flex-direction: column;

    .progressBar{
        width: 100%;
    }
    
    .navigation{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        * {
            font-size: 32px;                
            &:not(.arrow){
                font-size: 16px;
            }
        }            
    }
    
    .materials{
        width: 100%;        
        
        .previewMaterials{
            padding: 30px 20px;
            display: flex;            
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;            
            
            & > * {
                max-width: 33.33%;
            }
        }
    }
}