@import '../../../../assets/css/config.scss';

.container {
  display: block;
  padding: 20px;
  height: 100%;
  padding-bottom: 40px;

  .up {
    display: flex;
    height: 90%;
    padding: 30px 20px;

    .content {
      border: solid 1px #d2d7d8;
      border-radius: 10px;
      width: 65%;
      padding: 30px;
    }

    .info {
      display: block;
      margin-left: 5%;
      width: 25%;

      h1 {
        border-bottom: 2px solid #5a5a5a;
        font-weight: 400;
      }

      ol {
        margin: 10px 0;
        padding: 0 20px;
      }
    }
  }

  .down {
    display: flex;
    justify-content: flex-end;
    
    .button {
      display: block;;

      a, button {
        padding: 5px 50px;
      }
    }
  }
}

.sizequality {
  display: block;
  width: 100px;

  .size {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}