@import "../../../../assets/css/config.scss";
.container {
  display: block;
  height: 100%;
  width: 100%;
  .wrapper {
    width: 749px;
    height: 770px;
    border: solid 1px #b7b7b7;
    margin: 8px 348px 59px 269px;
    .content {
      margin: auto;
      max-width: 70%;
      text-align: center;
      p {
        text-align: center;
      }
      .title {
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #000000;
      }
      .text {
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        margin-top: 39px;
        color: #000000;
      }
      .smallertext {
        margin-top: 41px;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #000000;
      }
      .margintext {
        margin-top: 73px;
      }
      .time {
        font-size: 48px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 0;
        letter-spacing: normal;
        color: #000000;
      }
      .cost {
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 0;
        letter-spacing: normal;
        color: #000000;
      }
      .bank {
        width: 214px;
        height: 200px;
        object-fit: contain;
        border: solid 1px #b7b7b7;
        margin: auto;
        .accnumber {
          font-weight: normal;
        }
        .nomargin {
          font-weight: 300;
          font-size: 18px;
          color: #000000;
        }
      }
    }
    .contentflex {
      display: flex;
      justify-content: flex-end;
      p {
        margin-right: 15px;
        margin-top: 11px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #000000;
      }
    }
  }
  .down {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
    .button {
      width: 170px;
      height: 10px;
      text-align: center;
      font-size: 14px;
    }
  }
}

.infoflex {
  display: flex;
  justify-content: flex-end;
  h1 {
    width: 207px;
    border-bottom: solid 1px #000000;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    margin-right: 2%;
    color: #000000;
  }
}